---
const {title, options} = Astro.props;
---

<div class="dropdown-container">
    <div class="btn dropdown flex flex-col">
        <div>{title}</div>
        {options.map((option:string)=>(
            <div class="drop-down-input-label-container">
                <input class="custom-dropdown-checkbox" type="checkbox" id={option} value={option} />
                <label class="label-and-input flex flex-row items-center justify-between" for={option}>{option}</label>
            </div>
        ))}
    </div>
</div>

<script>
    const dropdownContainers = document.querySelectorAll('.dropdown-container');
    const dropdowns = document.querySelectorAll('.dropdown');

    dropdownContainers!.forEach((el, i) => {
        const container = el as HTMLDivElement;
        const dropdown = dropdowns![i] as HTMLDivElement;

        container.style.minWidth = `${dropdown.offsetWidth}px`;
    });

    const checkboxes = document.querySelectorAll('.custom-dropdown-checkbox');

    checkboxes.forEach((el) => {
        const checkbox = el as HTMLInputElement;

        checkbox.addEventListener('change', () => {
            if (checkbox.checked) {
                const newTag = document.createElement('custom-tag');

                newTag.setAttribute('text', checkbox.value);
                document.querySelector('.tags-container')?.prepend(newTag);
            } else {
                const tag = document.querySelector(
                    `custom-tag[text="${checkbox.value}"]`
                );
                tag?.remove();
            }
        });
    });
</script>

  

  