---
import "../../global.css";

import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.tsx';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { getCompanyInfo, getGoogleCompanyInfo } from '../api';

const companyInfo = await getCompanyInfo();
const googleInfo = await getGoogleCompanyInfo(companyInfo?.address);

const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"/>
        <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <ViewTransitions/>
	</head>
	<body>
		<div id="background-overlay"></div>
		<main id="app">
			<Navbar/>
			<slot/>
		</main>
		<Footer
			placesApiKey={import.meta.env.PUBLIC_PLACES_API_KEY}
			client:idle
			{companyInfo}
			{googleInfo}
		/>
	</body>
</html>